.body-index {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/background-img.png);
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-position: center center;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Botones */
.btn-color {
    background-color: #288be4;
    color: #fff;
}



/* Imagenes de cursos(detalles) */
.course-img {
    background-image: url(../images/course2.jpg);
    background-position: center center;
}

/* Imagenes de fondo para paginas inciales*/
.bg {
    background-image: url(../images/index-card.png);
    background-position: center center;
    background-size: contain;
}

/* Header */
a{
    text-decoration: none;
}

li{
    list-style: none;
    margin-top: 12px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    font-size: 1.25rem;
    font-weight: 600px;
}

i{
    font-size: 1.5rem;
    padding: .625rem;
}

i:hover{
    cursor: pointer;
}

.hide {
  max-height: 0 !important;
  display: none;
}

.drop-menu{
	transition: max-height .5s ease-out;
    overflow: hidden;
    top: 100%;
    left: 0;
    margin-top: .125rem;
    position: absolute;
    z-index: 1000;
    min-width: 8rem;
    padding: 0 0 0.5rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

/* Sidebars */
#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    height: 100vh;
}

#sidebar.collapsed{
    margin-left: -264px;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    /* color de letra - color:brown */
    font-size: 25px;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    /* color de letra e icono - color: brown */
    position: relative;
    display: block;
    font-size: 1.5rem;
}

/* Calendar */
.calendar-day, .calendar-day-head{
    border: 1px solid #ddd;
    padding: 5px;
}
.calendar-day-head{
    background: #ddd;
}

.calendar {
    height: 490px;
}

#currentMonthYear{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons a */
.btn-index {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 7px 7px 7px;
    background-color: #288be4;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    border-width: 0.5px;
    border-style: outset;
    height: 55px;
    width: 25%;
    margin: 7px;
}